<% unless @tasks.nil? %>
  
  <div class="container">
    <p>Task</p>
    <div class="row">
      <div class="col-sm">
        Title
      </div>
      <div class="col-sm">
        Description
      </div>
      <div class="col-sm">
        Status
      </div>
    </div>

    <% @tasks.each do |task| %>
      <%= render partial: 'task', object: task%>
    <% end%>

    <%= link_to 'Create task', new_task_path, class: 'btn btn-primary'%>
  </div>

  <div class="container">
    <p>Task done</p>
    <% @completed_tasks.each do |task| %>
      <%= render partial: 'task', object: task%>
    <% end%>
  </div>
<% else %>
  <div class="">
    No task
    <%= link_to 'Create task', new_task_path, class: 'btn btn-primary'%>
  </div>
<% end%>
