<div class="container bg-light p-3 border border-dark rounded">
  <h1 class="text-center">Sign up to create your task list</h1>

  <div class="d-flex justify-content-center">
    <%= link_to 'Sign up', new_user_session_path, class: 'btn btn-primary px-5 py-1 mt-4' %>
  </div>
</div>